
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');


#root {
  font-family: 'Rubik', sans-serif;

}

.mainbgcolor{
  background-color: #18273E !important;
}

.mainbgcolor1{
  background-color: #BF976C !important;
}

.maincolor{
  color: #BF976C !important;
}

.maincolor1{
  color: #18273E !important;
}


.subcolor{
 background-color: #faf5ed
}

.nav-close:hover .nav-close-icon{
  transform: rotate(360deg);
  transition: 0.3s ease;
}
.nav-close-icon{
  transition: 0.3s ease;
}

.scroll-button:hover {
background-color: white !important;
color: #BF976C;
transition: 0.1s ease-in-out;

}

.scroll-button:hover .scroll-icon{
  animation: moveIcon 0.6s ease-in-out;
  transition: 0.1s ease-in-out;
  
  }

  @keyframes moveIcon {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateX(0);
    }
  }

  .card-shadow{
    box-shadow: 0px 0px 4px -1px ;
  }