
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');


#root {
  font-family: 'Rubik', sans-serif;

}

.mainbgcolor{
  background-color: #18273E;
}

.maincolor{
  color: #BF976C;
}

.maincolor1{
  color: #18273E;
}


.subcolor{
 background-color: #faf5ed
}

