.footer {
    position: relative; /* Change to absolute if necessary */
    bottom: 0;
    padding: 1rem;
    width: 100%;
  }

  /* .phone-icon-div{
    transition: 0.3s ease;
}

 .phone-icon-div :hover{
    color: red;
    transform: translateY(-5px);
    transition: 0.3s ease;
} */

.phone-btn {
    background-color: #BF976C!important;  /* Default background color */
    color: #fff !important; /* Default icon color */
    transition: 0.3s ease !important;
  }
  
  .phone-btn:hover {
    background-color: white !important; /* Hover background color */
  }
  
  .phone-btn .phone-icon {
    transition: color 0.3s ease;
  }
  
  .phone-btn:hover .phone-icon {
    color: #BF976C !important; /* Change icon color on hover */

  }


  .mail-btn {
    background-color: #BF976C !important;  /* Default background color */
    color: #fff !important; /* Default icon color */
    transition: 0.3s ease !important;
  }
  
  .mail-btn:hover {
    background-color: white !important; /* Hover background color */
  }
  
  .mail-btn .mail-icon {
    transition: color 0.3s ease;
  }
  
  .mail-btn:hover .mail-icon {
    color: #BF976C; /* Change icon color on hover */

  }

  .whatsapp-float :hover{
  }
  
  /* @media screen and (min-width: 990px) {
   .footer{
    width: 100%;
   }

}
/* 
@media screen and (min-width: 480px) {
    .footer{
        display: flex;
        d;
        flex-direction: column;
    }
 
 }  */



@media screen and (max-width: 503px) {

    .footer {
      background-color: #f8f9fa; /* Example background color */
      position: relative; /* Change to absolute if necessary */
      bottom: 0;
      padding: 1rem;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
    .footcontainer-1 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }
  
    .footcontainer-1 .row {
      flex-direction: column;
      width: 100%;
    }
  
    .footrow-1{
      padding: 0;
    }
    .footcontainer-1 .col {
      width: 100%;
  
      margin-bottom: 30px;
    }
  
    .socialmedia,
    .practice-area-ul {
      width: 100%;
      text-align: left;
    }
  
    .socialmedia {
      margin-bottom: 30px;
    }
    .social-container{
      margin-top: 2rem !important;
   }
  
   
    .phone-btn-adjuster {
      display: flex;
      flex-wrap: wrap;
    }
  
    .mail-btn-adjuster {
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      align-items: start;
    }
    .form-div{
      display: flex;
      flex-wrap: wrap;
    }
    .og-form{
      display: flex;
      flex-wrap: wrap;
    }

    .first-field-div{
      display: flex;
      flex-wrap: wrap;

    }
 

  }
  

  


/* 
  .img-div{
    height: 500px;
    width: 1000px;
    background-image: url('../../../assets/images/AdvocateTalk.jpg');
    background-size: cover;
    border: 1px solid;
  } */


  @media screen and (max-width: 1024px) {
    .top-law-div{
      display: flex;
      flex-wrap: wrap;
    }
    .top-law-subdiv{
      flex-direction: column;
    justify-content: center;
    }

  }


  .legal-parent{
    background-color: #18273E;
  }


  

  @media screen and (max-width: 425px) {
    .legal-parent{
      text-align:start;
    }
   .legal-text-div{
    display: flex;
    justify-content: center;
    width: 100% !important;
  }

  }

  .list-btn {
    margin-bottom: 10px;
}




@media screen and (max-width: 387px) {

  .footer {
    background-color: #f8f9fa; /* Example background color */
    position: relative; /* Change to absolute if necessary */
    bottom: 0;
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .footcontainer-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .footcontainer-1 .row {
    flex-direction: column;
    width: 100%;
  }

  .footrow-1{
    padding: 0;
  }
  .footcontainer-1 .col {
    width: 100%;

    margin-bottom: 30px;
  }

  .socialmedia,
  .practice-area-ul {
    width: 100%;
    text-align: left;
  }

  .socialmedia {
    margin-bottom: 30px;
  }
  .social-container{
    margin-top: 2rem !important;
 }

 
  .phone-btn-adjuster {
    display: flex;
    flex-wrap: wrap;
  }

  .mail-btn-adjuster {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
  }
  .form-div{
    display: flex;
    flex-wrap: wrap;
  }
  .og-form{
    display: flex;
    flex-wrap: wrap;
  }
  .form-button{
    display: flex;
  }

  .first-field-div{
    display: flex;
    flex-wrap: wrap;

  }
}









.footer{
  padding: 1rem;
}

.footcontainer-1{
  padding: 1rem;
}

.footrow1{
  padding: 0rem !important;
}
@media (max-width: 768px) {
  .footer{
    padding: 0.5rem;
  }
  
  .footcontainer-1{
    padding: 1rem;
  }

  
  
  
  
  
}

.insta-icon{
  border-radius: 7px;
  color: #fff;
   background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25) !important;
  border-radius: 7px;
  padding: 0.2rem;
}


  
.linkedin-icon{
  background-color: rgb(9, 88, 161);
  color: rgb(255, 255, 255);
  border-radius: 7px;
padding: 0.2rem;
}

.facebook-icon{
  background-color: rgb(255, 255, 255);
  color: #063da5;
  border-radius: 7px;
padding: 0.2rem;
}

.x-icon{
  background-color: black;
  color: white;
border-radius: 7px;
padding: 0.2rem;
}


.banner-img{
  width: 100%;
  background-image: url('../../../assets/images/banner.png') !important;
background-size: cover;
background-repeat: no-repeat;
}


/* @media (max-width: 2560px) {
  .banner-img{
    height: 1000px;
    background-size: contain;

  }
} */



.mainbgcolor{
  background-color: #18273E;
}

.maincolor{
  color: #BF976C;
}

.subcolor{
 background-color: #faf5ed
}