



.dropdown-item:focus {
    opacity: 1; /* Ensure hovered item stays fully visible */
  }
  
  .dropdown-menu:hover .dropdown-item {
    opacity: 0.5; /* Default opacity for all items on hover */
  }
  
  .dropdown-menu:hover .dropdown-item:hover {
    opacity: 1; /* Ensure the hovered item is fully visible */
    background-color: transparent;
    color: #C7B480;

  }

  .dropdown-item{
    transition: 0.3s ease;
  }
  .dropdown-item:hover{
    transform: translateX(10px);
    transition: 0.3s ease;
    background-color: transparent;
  }
  
  /* .dropdown-toggle:focus {
    outline: none !important;
    box-shadow: none !important;
  } */

  .title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}



 .practice-area-ul li:hover {
  color: #C7B480; /* Changes text color to red on hover */
  cursor: pointer; /* Optional: Adds a pointer cursor for better UX */
  transform: translateX(2px);
  transition: 0.3s ease;
}

.practice-area-ul li {
  transition: 0.3s ease;

}

@media screen and (max-width: 714px) {

  .num-con-div{
    margin-left: 1.5rem;
  }

}

.adv-talk-div{
  background-image: url('../../../assets//images/AdvocateTalk.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 10px 2px;

  transition: 0.3s ease;

}



.hammer-div{
  background-image: url('../../../assets//images/Hammer.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 10px 2px;
  transition: 0.3s ease;


}

.money-div{
  background-image: url('../../../assets//images/money.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 10px 2px;
  transition: 0.3s ease;

}


.adv-grp-div{
  background-image: url('../../../assets//images/AdvocateGrp.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 10px 2px;
  transition: 0.3s ease;

}



.adv-talk-div:hover{
  transform: scale(0.9);
  transition: 0.3s ease;
  
  }


  
.hammer-div:hover{
  transform: scale(0.9);
  transition: 0.3s ease;
  
  }

 .money-div:hover{
  transform: scale(0.9);
  transition: 0.3s ease;
  
  }

  
.adv-grp-div:hover{
  transform: scale(0.9);
  transition: 0.3s ease;
  
  }
